.book-card {
    background-color: white;
    color: #2f2f2f;
    margin: 0 1rem 0 1rem;
    min-height: 20rem;
    border-radius: 12px;
    box-shadow: 1px 2px #d7d9db;
    border: 1px solid #f2f2f2;
    display: inline-block;
    text-align: justify;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
  .book-image{
      position: relative;
      top: 5%;
      left: 5%;
      width: 40%;
      height: 90%;
      float: left;
  }
  .book-details{
      font-size: 16px;
      position: relative;
      top: 5%;
      right: 5%;
      width: 45%;
      height: 90%;
  
      float: right;
  }
  .book-details .details-container{
      padding: 0 30px 50px 0;
      text-align: left;
  }
  .details-container .details{
      margin-bottom: 1.5em;
  }
  .book-card img{
      height: auto; 
      width: auto; 
      max-width: 100%; 
      max-height: 100%;
  }
  .cards {
      position: relative;
      top: 50px;
      max-width: 2000px;
      margin: 0 auto;
      display: grid;
      gap: 1rem;
  }
  @media (min-width: 768px) {
      .cards { grid-template-columns: repeat(2, 1fr); }
  }
  .rent-button{
      float: right;
      background: #ff5001;
      color: #ffffff;
      border: 0px;
      font-size: 16px;
      padding: 10px;
      font-weight: bold;
      cursor: pointer;
  }
  .rent-button:disabled{
      background: #c3c3c3;
  }
  .readButton{
      color: #ff5001;
      font-weight: 200;
      cursor: pointer;
  }
  .search-box{
      position: relative;
      top: 25px;
      width: 80%;
      border-radius: 16px;
      border-width: 1px;
      padding: 5px 32px 5px 10px;
      font-size: 20px;
  }
  @media (min-width: 768px) {
    .search-box{
        width: 40%;
      }
  }
  .search-button{
    position: relative;
    top: 23.5px;
    font-size: 16px;
    left: -22px;
  }
