.login-card {
    position: relative;
    width: 70%;
    top: 50px;
    left: 15%;
    background-color: white;
    color: #2f2f2f;
    border-radius: 12px;
    box-shadow: 1px 2px #d7d9db;
    border: 1px solid #f2f2f2;
    padding: 20px 0 50px 0;
  }
  @media (min-width: 768px) {
    .login-card { 
        width: 50%;
        left: 25%;
     }
}
@media (min-width: 1200px) {
    .login-card { 
        width: 20%;
        left: 40%;
     }
}
.login-card__username{
    width: 80%;
    left: 10%;
    top: 10%;
    font-size: 16px;
    padding: 5px;
}
.login-card__password{
    width: 80%;
    left: 10%;
    top: 10%;
    margin-top: 20px;
    font-size: 16px;
    padding: 5px;
}
.login-card__submit{
    width: 80%;
    left: 10%;
    top: 10%;
    margin: 10px 0 10px 0;
    font-size: 16px;
    background: #ff5001;
    color: #ffffff;
    border: 0px;
    padding: 10px 0 10px 0;
    font-weight: bold;
    cursor: pointer;
}
.login-card__error-message{
    margin: 0px;
    text-align: left;
    left: 10%;
    position: relative;
    color: #ff5001;
    font-size: 12px;
}