.author-card {
    position: absolute;
    width: 90%;
    top: 100px;
    left: 5%;
    background-color: white;
    color: #2f2f2f;
    border-radius: 12px;
    box-shadow: 1px 2px #d7d9db;
    border: 1px solid #f2f2f2;
    padding: 20px 0 50px 0;
  }

  .author-card__form {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
.author-card__input{
   top: 10%;
   margin-top: 5px;
   margin-bottom: 20px;
   font-size: 16px;
   padding: 5px;
}

.author-card__submit{
    top: 10%;
    margin-bottom: 10px;
    font-size: 16px;
    background: #ff5001;
    color: #ffffff;
    border: 0px;
    padding: 10px 0 10px 0;
    font-weight: bold;
    cursor: pointer;
}