.menu-nav {
    display: flex;
    justify-content: space-between;
  }
  .three-dots {
    position: absolute;
    right: 0%;
    top: -1.5em;
  }  
  .three-dots:after {
    cursor: pointer;
    color: #ff5001;
    content: '\2807';
    font-size: 30px;
    padding: 0 5px;
  }
  
  a {
    text-decoration: none;
    text-align: left;
    color: #2f2f2f;
  }
  
  a div {
    padding: 2px;
  }
  
  .dropdown {
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
    outline: none;
    opacity: 0;
    z-index: -1;
    max-height: 0;
    transition: opacity 0.1s, z-index 0.1s, max-height 5s;
  }
  
  .dropdown-container:focus {
    outline: none;
  }
  
  .dropdown-container:focus .dropdown {
    opacity: 1;
    z-index: 100;
    max-height: 100vh;
    transition: opacity 0.2s, z-index 0.2s, max-height 0.2s;
  }