.edit-card {
    position: relative;
    width: 90%;
    top: 50px;
    left: 5%;
    background-color: white;
    color: #2f2f2f;
    border-radius: 12px;
    box-shadow: 1px 2px #d7d9db;
    border: 1px solid #f2f2f2;
    padding: 20px 0 50px 0;
  }

  .edit-card__form {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  @media (min-width: 768px) {
    .edit-card { 
        width: 70%;
        left: 15%;
     }
}
@media (min-width: 1200px) {
    .edit-card { 
        width: 40%;
        left: 30%;
     }
}
@media (min-width: 1800px) {
    .edit-card { 
        width: 20%;
        left: 40%;
     }
}
.edit-card__input{
   top: 10%;
   margin-top: 5px;
   font-size: 16px;
   padding: 5px;
}

.edit-card__submit{
    top: 10%;
    margin-bottom: 10px;
    font-size: 16px;
    background: #ff5001;
    color: #ffffff;
    border: 0px;
    padding: 10px 0 10px 0;
    font-weight: bold;
    cursor: pointer;
}
.edit-card__checkbox-dropdown {
    width: 97%;
    font-size: 16px;
    border: 1px inset rgb(133, 133, 133);
    padding: 5px;
    position: relative;
    margin: 5px 0 20px 0;
    user-select: none;
}
.edit-card__checkbox-dropdown:after {
    content:'';
    height: 0;
    position: absolute;
    width: 0;
    border: 6px solid transparent;
    border-top-color: #000;
    top: 50%;
    right: 10px;
    margin-top: -3px;
}
.edit-card__checkbox-dropdown.is-active:after {
    border-bottom-color: #000;
    border-top-color: #fff;
    margin-top: -9px;
}
.edit-card__checkbox-dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    border: inherit;
    border-top: none;
    left: -1px;
    right: -1px;
    opacity: 0;
   
    transition: opacity 0.4s ease-in-out;
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;
    pointer-events: none; /* avoid mouse click events inside the dropdown */
}
.edit-card__is-active .edit-card__checkbox-dropdown-list {
    opacity: 1;
    pointer-events: auto;
    background: white;
}

.edit-card__checkbox-dropdown-list li label:hover {
    background-color: #555;
    color: white;
}
.authors-select {
    padding: 10px;
    border-bottom: 1px solid silver;
}
.edit-card__error-message{
    margin: 0px;
    text-align: left;
    left: 5px;
    position: relative;
    color: #ff5001;
    font-size: 12px;
}
.edit-card__label{
    margin-top: 1em;
}